@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic&subset=latin,greek-ext,greek,latin-ext);

body {
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
  position: relative;
}

.CodeMirror {
  border: 1px solid #93A1A1;
}

/*.cm-s-default .cm-string {
  color: #2AA198;
}

.cm-s-default .cm-keyword {
  color: #CB4B16;
}

.cm-s-default .cm-selector {
  color: #CB4B16;
}

.cm-s-default .cm-variable {
  color: #268BD2;
}

.CodeMirror-scroll {
  background-color: #002B36;
  color: #93A1A1;
}

.CodeMirror div.CodeMirror-cursor {
  border-left-color: #93A1A1;
}*/

.cm-s-default .cm-comment {
  color: #93A1A1;
}

.cm-s-default .cm-string {
  color: #2AA198;
}

.cm-s-default .cm-keyword {
  color: #CB4B16;
}

.cm-s-default .cm-selector {
  color: #CB4B16;
}

.cm-s-default .cm-variable {
  color: #268BD2;
}

.cm-s-default .cm-error {
  text-decoration: line-through;
  color: #f00;
  font-weight: bold;
}

.CodeMirror-scroll {
  background-color: #FDFDFD;
  color: #586E75;
}

.CodeMirror div.CodeMirror-cursor {
  border-left-color: #586E75;
}

.CodeMirror {
  width: 100%;
  position: absolute;
  top: 6ex;
  bottom: 2em;
  height: auto;
  font-size: 0.9em;
}

div#status {
  position: absolute;
  bottom: 0px;
  height: 1.2em;
  width: 100%;
  color: #666;
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
  font-size: 0.85em;
  font-style: italic;
}

div#status input {
  border: 0px;
  border-left: 1px solid #aaa;
  width: 100%;
  padding-left: 3px;
}

div#status input:focus {
  outline: 1px solid #729fcf;
  border: 0px;
}

div#codepane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 70ex;
}

div#codepane, div#plotpane {
  font-family: 'Ubuntu Mono',menlo,monaco,monospace;
}

div.titlebar {
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
  height: 30px;
  vertical-align: middle;
}

div.titlebar span.title {
  font-weight: bold;
  color: #729fcf;
  letter-spacing: 2px;
  font-family: 'Ubuntu Mono',menlo,monaco,monospace;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 15px;
}

div.titlebar ul {
  float: right;
  padding: 0;
  margin: 0;
}

div.titlebar ul li {
  float: right;
  padding: 0px 10px 1px 10px;
  margin: 0px 2px 0px 2px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #729fcf;
  color: #fff;

  box-shadow: 0 -1px 0 rgba(0%,0%,0%, 0.1), 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: background 100ms linear;
}

div.titlebar ul li:hover {
  background-color: #3465a4;
}

div.titlebar ul li:active {
  background-color: #729fcf;
  color: #fff;
}

div.titlebar ul li:first-child {
  margin-right: -1px;
}

div#plotpane {
  position: absolute;
  left: 72ex;
  bottom: 0px;
  right: 0px;
  top: 0px;
}

div#plotpane div#plot {
  width: 100%;
  position: absolute;
  top: 5ex;
  bottom: 1.5em;
  height: auto;
  font-size: 0.9em;
  border: 1px solid #aaa;
}

div#status.error {
  color: #cc0000;
}

/* vi:ts=2:et */

