@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic&subset=latin,greek-ext,greek,latin-ext);

@import url('hl.css');

body {
  font-family: 'Ubuntu Mono',menlo,monaco,monospace;

  margin: 0;

  height: 100%;
  width: 100%;
}

#codepane {
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 80ex; width: 80ch;
}

#outputpane {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  left: 80ex; left: 80ch;
}

header {
  height: 2em;

  background: -webkit-gradient(linear, left top, left bottom, from(#3465a4), to(#204a87));
  background: linear-gradient(to bottom, #3465a4 , #204a87);

  font-family: Ubuntu,'Droid Sans','DejaVu Sans',Arial,sans-serif;
}

.content {
  position: absolute;
  top: 2em; left: 0; right: 0; bottom: 0;
}

#codepane .content {
  border-right: 1px solid #d4e2f0;
}

#plotpane {
  position: relative;
  height: 50%;
}

#graphpane {
  position: relative;
  height: 50%;
}

#graph {
  cursor: pointer;
  position: absolute;
  top: 2em; left: 0; right: 0; bottom: 0;
  margin: 0;
  padding: 0;
}

#plotpane #plot {
  position: absolute;
  right: 5px; left: 5px; top: 5px; bottom: 5px;
}

#plot_tooltip {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 0px 5px 0px 5px;
}

#codepane .CodeMirror {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  height: auto;
  font-family: 'Ubuntu Mono',menlo,monaco,monospace;
}

header span.title {
  font-weight: bold;
  color: #d4e2f0;
  text-shadow: 0px 0px 3px #000;
  letter-spacing: 2px;
  vertical-align: middle;
  line-height: 2em;
  padding-left: 10px;
}

header ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.4em;
  padding-top: 0.3em;
}

header ul li {
  float: right;
  padding: 0px 6px 1px 6px;
  margin: 0px 3px 0px 3px;

  -webkit-border-radius: 5px;
          border-radius: 5px;

  cursor: pointer;
  background: linear-gradient(to top, #204a87, #3465a4);
  color: #d4e2f0;

  box-shadow: 0 0 3px #000;
}

header ul li:hover {
  background: linear-gradient(to top, #3465a4, #729fcf);
}

header ul li:active {
  background: #729fcf;
  color: #fff;
}


@media screen and (max-device-width: 640px) {
  #outputpane {
    display: none;
  }

  #codepane {
    right: 0;
    width: auto;
  }

  #codepane header {
    font-size: 10px;
    height: 30px;
  }

  #codepane header ul {
    line-height: 20px;
    margin-top: 2px;
  }

  #codepane span.title {
    line-height: 30px;
  }

  #codepane .content {
    font-size: 7px;
    top: 30px;
  }
}

@media screen and (max-device-width: 640px) and (orientation: portrait) {
  #codepane .content {
    font-size: 8px;
  }
}

div#status input {
  border: 0px;
  border-left: 1px solid #aaa;
  padding-left: 3px;
}

div#status input:focus {
  outline: 1px solid #729fcf;
  border: 0px;
}

div#status {
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
  font-size: 0.85em;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: #fff;
  border: 1px solid #d4e2f0;
  border-bottom: 0; border-left: 0;
  z-index: 5;
  display: none;
  padding: 3px;
  font-size: 0.7em;
}

div#status.error {
  color: #cc0000;
}

/* vi:ts=2:et */

